Source: python-tornado-util
Section: unknown
Priority: extra
Maintainer: Andrey Tatarinov <a.tatarinov@hh.ru>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3

Package: python-tornado-util
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
  python,
  python-tornado (>= 0.2~hh10.1),
  python-daemon,
Description: Helpers for production tornado services.
